<ul class="nav-social">
    <li><a href="https://www.instagram.com/defenderboys/" title="Defenderboys Instagram" target="blank"><img src={{asset "images/icon_instagram.svg"}} alt="Instagram icon" /></a></li>
    <li><a href="https://www.facebook.com/Defenderboys/" title="Defenderboys Facebook" target="blank"><img src={{asset "images/icon_facebook.svg"}} alt="Facebook icon" /></a></li>
    <li><a href="" title="Defenderboys YouTube" target="blank"><img src={{asset "images/icon_youtube.svg"}} alt="YouTube icon" /></a></li>
</ul>