<div class="search-wrapper">
    <form name="search">
        <button><img src={{asset "images/icon_loupe.svg"}} alt="Search icon" /></button>
        <input class="search-input" type="text" placeholder="SEARCH" />
    </form>
</div>