<div class="navigation">
    <div class="wrapper">
        <div class="logo-responsive">
            <div class="logo-wrapper">
                <img src={{asset "images/logo_defenderboys.svg"}} alt="Defenderboys Logo - Lionhead" />
            </div>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle">
            <div class="burger-menu-bar"></div>
            <div class="burger-menu-bar"></div>
            <div class="burger-menu-bar"></div>
        </label>
        <nav class="main-nav">
            <div class="language">
                language
            </div>
            <div class="left-nav">
                {{> nav-left}}
            </div>
            <div class="logo">
                <div class="logo-wrapper">
                    <img src={{asset "images/logo_defenderboys.svg"}} alt="Defenderboys Logo - Lionhead" />
                </div>
            </div>
            <div class="search">
                {{> search}}
            </div>
            <div class="right-nav">
                {{> nav-right}}
            </div>
            <div class="social-nav">
                {{> nav-social}}
            </div>
        </nav>
    </div>
</div>