.wrapper {
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-column-gap: 20px;
  position: relative; }
  @media (min-width: 700px) {
    .wrapper {
      margin: 0 80px; } }

.wrapper > * {
  grid-column: col-start / span 12; }

@media (min-width: 500px) {
  .content {
    grid-column: col-start / span 12; }
  .nav ul {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 700px) {
  .article-header {
    grid-column: col-start / span 5; } }

.home-template {
  display: block;
  margin: 0; }

.navigation {
  background-color: white;
  -moz-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2); }

.main-nav {
  display: grid;
  font-family: "Helvetica Neue", Verdana, sans-serif;
  color: #333333;
  grid-template-columns: 1fr;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  height: 0; }
  @media only screen and (min-width: 860px) {
    .main-nav {
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-gap: 20px;
      padding: 6px 0;
      height: auto;
      opacity: 1;
      visibility: visible; } }
  .main-nav .language {
    grid-column: 1;
    grid-row: 6;
    font-family: inherit;
    font-size: 0.75em;
    padding: 18px 0 0 0;
    text-align: center; }
    @media only screen and (min-width: 860px) {
      .main-nav .language {
        grid-column: 1 / span 5;
        grid-row: 1;
        text-align: left; } }
  .main-nav .left-nav, .main-nav .right-nav {
    font-family: inherit;
    font-size: 1.125em;
    text-transform: uppercase;
    padding: 0 0 18px 0; }
    .main-nav .left-nav a, .main-nav .right-nav a {
      text-decoration: none;
      color: inherit; }
      .main-nav .left-nav a:active, .main-nav .left-nav a:visited, .main-nav .right-nav a:active, .main-nav .right-nav a:visited {
        color: inherit; }
    @media only screen and (min-width: 860px) {
      .main-nav .left-nav, .main-nav .right-nav {
        font-size: 1em; } }
  .main-nav .left-nav {
    grid-column: 1;
    grid-row: 3;
    padding: 0; }
    @media only screen and (min-width: 860px) {
      .main-nav .left-nav {
        grid-column: 1 / span 5;
        grid-row: 2;
        padding: 0 0 18px 0; } }
  .main-nav .logo {
    grid-column: 1;
    grid-row: 1;
    display: none; }
    @media only screen and (min-width: 860px) {
      .main-nav .logo {
        grid-column: 6 / span 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  .main-nav .search {
    grid-column: 1;
    grid-row: 2;
    font-family: "Courier New", monospace;
    font-weight: bold;
    font-size: 0.875em;
    padding: 18px 0 0 0;
    margin: 0 0 33px 0; }
    @media only screen and (min-width: 860px) {
      .main-nav .search {
        grid-column: 9 / span 4;
        grid-row: 1;
        margin: 0; } }
  .main-nav .right-nav {
    grid-column: 1;
    grid-row: 4; }
    @media only screen and (min-width: 860px) {
      .main-nav .right-nav {
        grid-column: 8 / span 3;
        grid-row: 2; } }
  .main-nav .social-nav {
    grid-column: 1;
    grid-row: 5; }
    @media only screen and (min-width: 860px) {
      .main-nav .social-nav {
        grid-column: 11 / span 2;
        grid-row: 2; } }

.logo-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 0 0 0; }
  @media only screen and (min-width: 860px) {
    .logo-responsive {
      display: none; } }

.logo-wrapper {
  max-width: 88px;
  margin: auto; }
  .logo-wrapper img {
    width: 100%; }

ul.nav,
ul.nav-social {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.nav li,
  ul.nav-social li {
    transition: all 0.5s ease;
    transform: translateX(-120px); }
    @media only screen and (min-width: 860px) {
      ul.nav li,
      ul.nav-social li {
        transform: translateX(0px); } }

ul.nav-social {
  text-align: center; }
  @media only screen and (min-width: 860px) {
    ul.nav-social {
      text-align: right; } }
  ul.nav-social li {
    display: inline-block;
    margin: 0 10px 0 0; }
    ul.nav-social li:last-of-type {
      margin: 0; }

ul.nav {
  display: block; }
  @media only screen and (min-width: 860px) {
    ul.nav {
      display: flex;
      justify-content: space-between; } }
  ul.nav li {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 0 15px 0;
    /*&:after {
            position: absolute;
            display: inline-block;
            content: "";
            left: 150%;
            margin-left: -3px;
            width: 3px;
            height: 3px;
            background-color: $c__dark-gray;
        }

        &:last-of-type {
            &:after {
                display: none;
            }
        }*/ }
    @media only screen and (min-width: 860px) {
      ul.nav li {
        display: inline-block;
        text-align: left;
        margin: 0; } }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked ~ .main-nav {
    opacity: 1;
    visibility: visible;
    height: auto;
    padding: 6px 0; }
    input[type="checkbox"]:checked ~ .main-nav li {
      transform: translateX(0px); }

.label-toggle {
  right: 0;
  top: 40px;
  position: absolute; }
  @media only screen and (min-width: 860px) {
    .label-toggle {
      display: none; } }

.burger-menu-bar {
  background-color: #333333;
  width: 25px;
  height: 5px;
  margin: 0 0 4px 0; }
  .burger-menu-bar:last-of-type {
    margin: 0; }

.search-wrapper form {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.search-wrapper button {
  display: inline-block;
  border: none;
  background-color: transparent; }

.search-wrapper input {
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 0.875rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid #333333; }
